.blog-container ul {
    margin: 0;
    padding: 0;
    list-style: none none;
}
.blog-container .post-container {
    border: 1px solid #ccc;
}
.blog-container .post-container .post-container_content {
    padding: 20px 20px 20px 20px;
}
.blog-container .post-container .post-image {
    min-height: 200px;
    background: #ccc;
}
.blog-container .post-container .post-container_content .post-meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.blog-container .post-container .post-container_content .post-meta .column1{
    min-width: 80%;
}